:root {
  --color-white: #fff;
  --color-primary: #eb2f64;
  --color-primaryLight: #ff3366;
  --color-primaryDark: #ba265d;
  --color-greyLight1: #faf9f9;
  --color-greyLight2: #f4f2f2;
  --color-greyLight3: #f0eeec;
  --color-greyLight4: #ccc;
  --color-greyDark1: #333;
  --color-greyDark2: #777;
  --color-greyDark3: #999;
  --shadowDark: 0 8rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Ooen Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  background-image: linear-gradient(to right bottom, var(--color-primaryLight), var(--color-primaryDark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-greyDark2); }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-greyLight1);
    color: inherit;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 10rem;
    width: 85%;
    margin-right: -3.5rem;
    transition: all 0.5s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-greyLight3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-greyLight4); }
  .search__input:focus + .search__button {
    background-color: var(--color-greyLight3); }
  .search__button {
    border: none;
    transition: all 0.5s;
    background-color: var(--color-greyLight1); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-darkGrey3); }

.user-nav {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
  .user-nav > *:hover {
    background-color: var(--color-greyLight3); }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-greyDark1); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-content: center; }
  .user-nav__user-photo {
    margin-right: 1rem;
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 100%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-greyLight2);
  box-shadow: var(--shadowDark);
  height: 50rem; }

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--color-white);
  border-bottom: var(--color-greyLight1);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-greyDark1);
  flex: 0 0 18%; }

.hotel-view {
  background-color: var(--color-white);
  flex: 1; }
