.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-greyLight2);
  box-shadow: var(--shadowDark);
  height: 50rem;
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--color-white);
  border-bottom: var(--color-greyLight1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-greyDark1);
  flex: 0 0 18%;
}

.hotel-view {
  background-color: var(--color-white);
  flex: 1;
}
